# Dependencies
node_modules/

# Next.js Build Output
.next/
out/

# TypeScript Build Output
dist/

# Environment Variables
.env
.env*.local

# Logs
*.log
npm-debug.log*

# System Files
.DS_Store
Thumbs.db
